@import "../../sass/variables";

.container-fluid {
    padding: 40px;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-outline-primary {
    font-size: 25px;
    border: none;
    color: $primary;

    &:hover {
        background-color: $primary;
        color: $secondary;
    }
}