@import "../../../sass/variables";

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border: 1px solid $outline;
    border-radius: 20px;
    width: 500px;
    padding: 50px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 700;
}