<div class="container-fluid" *ngIf="!isValid">
    <div class="container">
        <div class="header-wrapper">
            <h1>Verification</h1>
        </div>
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" id="otp" placeholder="Enter OTP" name="otp" [formControl]="otp">
            <div class="btn-wrapper mt-3">
                <app-brand-button class="w-100" [buttonText]="'Submit'" (click)="onSubmit()"></app-brand-button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="isValid">
    <div class="container">
        <div class="header-wrapper">
            <h1>Login</h1>
        </div>
        <form [formGroup]="recoveryForm">
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
                    formControlName="email">
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd"
                    formControlName="password">
            </div>
            <div class="mb-3">
                <label for="pwd2" class="form-label">Repeat Password:</label>
                <input type="password" class="form-control" id="pwd2" placeholder="Enter password" name="pswd2"
                    formControlName="confirmPassword">
            </div>
            <div class="btn-wrapper mt-3">
                <app-brand-button class="w-100" [buttonText]="'Update'" (click)="onUpdate()"></app-brand-button>
            </div>
        </form>
    </div>
</div>